{% extends 'pieapp/base.html' %}

{% block content %}
<h1>What's new, {{user.username}} ?</h1>
<div class="row">
    <div class="column">
        <aside class="block">
        <!-- left side block -->
          {% for char in characteristics %}
          <h2><a href="{% url 'characteristic_detail' pk=char.pk %}">{{ char.name }}</a></h2>
          {% endfor %}
          <h4><a href="{% url 'addchar' %}">Add new...</a></h4>
        </aside>
    </div>
    <div class="column">
        <form method="post">
            {% csrf_token %}
        
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
        
            <button type="submit">Save Characeristic</button>
        </form>
    </div>

  </div>
{% endblock %}
