{% extends 'pieapp/base.html' %}

{% block content %}
<h1>Welcome, {{user.username}}</h1>
<div class="row">
    <div class="column">
        <aside class="block">
        <!-- left side block -->
          {% for char in characteristics %}
          <h2><a href="{% url 'characteristic_detail' pk=char.pk %}">{{ char.name }}</a></h2>
          {% endfor %}
        <p><a href="{% url 'addchar' %}">Add new...</a>></p>
        </aside>
    </div>
    <div class="column">
        <h1>{{ characteristic.name }}</h1>

    </div>
    <div class="column">
      <h3>{{ characteristic.rating }}</h3>
      <a href="{% url 'characteristic_update' pk=characteristic.pk %}">Update characteristic</a>
      <a href="{% url 'characteristic_delete' pk=characteristic.pk %}">Delete</a>
    </div>  

  </div>
{% endblock %}
