html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444
}
.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

/* стили для основных блоков */
.block {
	border: 2px solid #000;
	padding: 10px;
	margin-bottom: 10px;
}
/* стили для хедера */
header {
	display: flex;
	background-color: #ffffff;
	padding: 10px;
  
}
/* стили для основного содержимого страницы */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
/* стили для бокового меню */
aside {
	width: 200px;
	background-color: #eee;
	padding: 10px;
	font-size: 12px;
  }
/* стили для футера */
footer {
	text-align: center;
	background-color: #ccc;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
  }
/* Общие стили для всех блоков */
div {
	border: 2px solid #000;
	margin: 10px;
	padding: 10px;
  }
  .row {
	width: 100%;
	margin: 0 auto;
  }
  
  .column {
	display: inline-block;
	width: 30%;
	margin: 10px;
	vertical-align: top;
  }
a {
	font-family: 'Montserrat', sans-serif;
	color: #444
}
a:hover {
	color: #888
}
