html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444
}
.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}
.block {
/*	border: 2px solid #000; */
	padding: 10px;
	margin-bottom: 10px;
}
header {
	display: flex;
	background-color: #ffffff;
	padding: 10px;
  
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

aside {
	width: 200px;
	background-color: #ffffff;
	padding: 10px;
	font-size: 12px;
  }
footer {
	text-align: center;
	background-color: #ffffff;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
  }
div {
/*	border: 2px solid #000;*/
	margin: 10px;
	padding: 10px;
  }
  .row {
	width: 100%;
	margin: 0 auto;
  }
  
  .column {
	display: inline-block;
	width: 30%;
	margin: 10px;
	vertical-align: top;
  }
a {
	font-family: 'Montserrat', sans-serif;
	color: #444
}
a:hover {
	text-decoration: none;
	color: #888
}
button[type="submit"] {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	font-family: 'Montserrat', sans-serif;
	text-shadow: none;
}
button[type="submit"]:hover {
	background: #004974;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	font-family: 'Montserrat', sans-serif;
	text-shadow: none;
}
button[type="submit"]:active {
	background: #009cf7;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	font-family: 'Montserrat', sans-serif;
	text-shadow: none;
}
